<section class="hero">

  <div class="badge">
   ● Welcome To Applet
  </div>

  <h1>
    Empowering Businesses with
    <span>Smart  Digital Solutions</span>
  </h1>

  <p>
    We help businesses grow with modern websites,
    powerful mobile apps, result-driven digital marketing,
    and reliable technical support services.
  </p>

  <div class="buttons">

    <button class="primary">
      Get Started Now →
    </button>

    <button class="secondary">
      <i class="fa-regular fa-circle-play"></i>
      Watch Video 
    </button>

  </div>

</section>