<div class="gana">
  <section class="cta-section">
    <div class="cta-container">
      <h2>
        Ready to Bring Your Dreams to Life?<br />
        Let’s <span>Get Started</span> Today
      </h2>

      <div class="cta-form">
        <input type="email" placeholder="Enter You're email" />

        <button>
          Let's Talk
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-container">
        <div class="footer-grid">
          <!-- Company -->

          <div class="footer-col">
            <img src="/assets/APPLET LOGO.png" alt="Logo" class="footer-logo" />

            <h3>About Company.</h3>

            <p>Empowering Futures, Crafting Solutions.</p>

            <div class="social-icons">
              <a href="#">
                <i class="fa-brands fa-facebook-f"></i>
              </a>

              <a href="#">
                <i class="fa-brands fa-instagram"></i>
              </a>

              <a href="#">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>

              <a href="#">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
            </div>
          </div>

          <!-- Quick Links -->

          <div class="footer-col">
            <h4>Quick Links</h4>

            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>

          <!-- Services -->

          <div class="footer-col">
            <h4>Services</h4>

            <ul>
              <li><a href="#">Web Design & Development</a></li>
              <li><a href="#">Mobile App Development</a></li>
              <li><a href="#">Digital Marketing</a></li>
              <li><a href="#">Technical Support</a></li>
            </ul>
          </div>

          <!-- Contact -->
       
          <div class="ganii">
            <div class="footer-col">
            <h4>Contact</h4>

            <p class="address">
              <strong>Operational Address:</strong><br /><br />

              47, Kotwal Nagar, Khamla, Nagpur,<br />
              Maharashtra 440022, India
            </p>

            <p class="email">HR-MANAGER@MYAPPLESOFT.COM</p>
          </div>
        </div>
          </div>

        <hr />

        <div class="footer-bottom">
          <div class="footer-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
          </div>

          <p>
            Copyright © 2026 Designed and developed by
            <a href="#">Adbornsolutions.</a>
          </p>
        </div>
      </div>
    </footer>
  </section>
</div>
