*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

:host{
  display:block;
}

.navbar{
  width:70%;
  max-width:1400px;
  margin: auto;


  position:absolute;
  top:40px;
  left:50%;
  transform:translateX(-50%);

  display:flex;
  justify-content:space-between;
  align-items:center;
height: 80px;
  padding:0px 18px;


background: rgba(255,255,255,0);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(2px);
border: 1px solid rgba(255,255,255,0.697);
box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    border-radius: 70px;

  z-index:100;
  position: fixed;

}

.gana{
  background-color:#120885;
  border-radius:60px;
  color:#fff;
  border:1px solid #14079c;
  padding:12px 35px;
}
.gana:active{
  background-color:#6d0d99;
  border-radius:60px;
  color:#fff;
  border:1px solid #871a83;
  padding:12px 30px;
}

.logo{
  display:flex;
  align-items:center;
  flex-shrink:0;
}

.logo img{
  display:block;
  width:160px;
  height:auto;
}

.logo h2{
  color:#5b4cf0;
  font-size:28px;
  font-weight:800;
}

nav{
  display:flex;
  align-items:center;
  gap:35px;
  text-align: center;
  margin-bottom: 10px;
}

nav a{
  text-decoration:none;
  color:#fff;
  font-weight:500;
  transition:.3s;
}

nav a:hover{
  color:#6a095d;
}

.talk-btn{
  border:none;
  cursor:pointer;

  background:#6d5dfc;
  color:white;

  padding:14px 28px;

  border-radius:12px;

  font-size:15px;
  font-weight:600;
}

//    MOBILE

@media (max-width:767px){

.navbar{
  width:90%;
  padding:18px 30px 18px 18px;

  flex-direction:column;
  justify-content:center;
  align-items:center;
  overflow: visible;

display: inline-block;
  gap:10px;

  border-radius:40px;
}

.logo img{
  width:80px;
 margin: auto;
}

nav{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  gap:12px;
}

nav a{
  font-size:14px;
}
.gana{
  display:none;
  // margin-left: 150px;
}

.gana,
.talk-btn{
  padding:10px 18px;
  font-size:14px;
}

}

//    TABLET

@media (min-width:768px) and (max-width:1024px){

.navbar{
  width:95%;
  padding:18px 25px;
}

.logo img{
  width:150px;
}

nav{
  gap:18px;
}

nav a{
  font-size:15px;
}

.talk-btn{
  padding:12px 22px;
}

}

//    DESKTOP

@media (min-width:1025px){

.logo img{
  width:160px;
}

nav{
  gap:35px;
}

nav a{
  font-size:16px;
}

.talk-btn{
  padding:14px 28px;
}

}